fastapi
uvicorn
psycopg2-binary
sqlalchemy
python-multipart
joblib
scikit-learn
pdfplumber
python-docx
numpy
pandas
spacy
pyresparser
rapidfuzz
python-dotenv
# Optional for CORS and development
aiofiles
